@model MapApp.Models.UserVM
@{ bool isMe = Model.UserName == User.Identity.Name; }
<div class="infoSideBar">
    <h1 class="logoApp display-4">MapApp</h1>
    <input type="hidden" value="@Model.UserName" id="UserName"/>
    <div class="infoSideBar-block">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="blockTitle">@Model.FirstName @Model.LastName</h2>
            @if (isMe)
            {
            <div>
                <button type="button" class="btn btn-light btn-sm">Settings<span><i class="fas fa-cog"></i></span></button>
                <a href="/Account/Logout" class="btn btn-link btn-sm" style="color: #212529;"><i class="fas fa-sign-out-alt"></i></a>
            </div>
            }
        </div>
        <div class="d-flex">
            <div>
                <img class="userAvatar" src="@Model.ImageUrl" />
                <p class="text-center userStatus">Online</p>
            </div>
            <p class="userDecription text-justify">@Model.Description</p>
        </div>
    </div>
    
    @if (isMe)
    {
        <div class="infoSideBar-block">
            <h2 class="blockTitle">Search</h2>
            <input type="search" class="form-control" id="search-input" placeholder="Enter here place you'd like to visit..."/>
        </div>
    }

    <div class="infoSideBar-block">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="blockTitle">My places</h2>
            @if (isMe)
            {
                <button type="button" class="btn btn-primary btn-sm">Plan my trip!<span><i class="fas fa-location-arrow"></i></span></button>
            }
        </div>
        <div id="placeLoaded">
        </div>
    </div>
</div>
