@model IEnumerable<MapApp.DAL.Models.Place>

<ul class="placeList list-unstyled" id="placeList">
    @foreach (var p in Model)
    {
        <li class="placeItem d-flex align-items-center">
            <img class="placePhoto rounded" src="@p.ImgUrl"/>
            <div class="userDecription">
                <p class="placeTitle font-weight-bold">@p.Name</p>
                <p class="placeAddress text-justify">@p.Address</p>
                <p class="placePhoneNumber text-justify">@p.PhoneNumber</p>
                <button class="btn btn-danger btn-sm btnDelete" id="btnDltPl_@p.Id" onclick="deletePlace(@p.Id)">Delete</button>
            </div>
        </li>
    }
</ul>


